/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/

html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

*
{
    margin:0;
    padding:0;
}
summary {
	display: list-item;
}

body
{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-rows: max-content 1fr max-content;

}


header
{
    display:grid;
    grid-template-columns: max-content 1fr max-content;

    border-bottom: 1px solid black;
    padding:1rem;
}
ul
{
    list-style: none;
}

.registration-options
{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: right;
    gap:1.1rem;
    place-items: center;
}
.book-items-container
{
    display:grid;

}
.books-list
{
    display:flex;
    grid-auto-flow: column;
    gap:1rem;
    flex-wrap: wrap;
}
.book-item
{
    display:grid;
    grid-template-rows: max-content 4rem max-content max-content max-content ;
    font-size: large;
    padding: 1.2rem;
    justify-items: center;
    border: 1px solid black;
    border-left: 10px solid skyblue;
    border-right: 4px solid skyblue;
    border-radius: 4px;
    
    gap:10px;
    
}
.author
{
    grid-row: 3;
    font-size: small;
}
.pages
{
    grid-row: 4;
    font-size: small;
}
.read-status
{
    grid-row: 5;
}

.book-item img
{
    width: 1.8rem;
    border-radius: 1000px;
}

.book-item .read
{
    
    background-color: green;
   background-color: rgba(66, 194, 34, 0.671);
}
.book-item .pending
{
    background-color: rgba(245, 209, 4, 0.753);
}
main
{
    
    display:grid;
    grid-template-rows: max-content max-content;
    gap:10px;
    padding: 1rem;

}
main .new-book-button-wrapper
{
    display:grid;
    grid-template-columns: max-content 1fr max-content;
    
}
.new-book-button
{
    grid-column: 3;
}
.new-book-button
{
    appearance: none;
    background-color: white;
    padding:0 1rem;
}
.current-books-text
{
    font-size: 1rem;
    font-weight: bold;
}